*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.img{
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 60px;

}
/*.select{
    border: 2px solid red;
    opacity: 1;
}
.noSelect{
    border: 0.5;
}